---
layout: default
title: oviedo lab / team
categories:
 - team
---

<div class="row">
	<div class="col-lg-12">
		<div class="title">
      Current members
		</div>
	</div>
</div>

<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alumni != true %}
    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-lg-4 memberbox">
			<div class="media">
  				<a class="float-left" href="{{ member.url }}">
    				<img width=160 class="mr-3" src="{{ member.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="head mb-1"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}

<div class="row">
	<div class="col-lg-12">
		<div class="title">
			The Bioanimation Team
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
		<div class="media">
 				<img width=160 class="mr-3" src="/images/team/bioanimation.jpg">
 	 	<div class="media-body">
 			<p class="note">
      The City College of New York’s Cohen Library sponsors a Biology Animation Assistantship program with an interdisciplinary team of students with science and art backgrounds. The goal is to use student-created works as teaching tools in and out of the classroom. The team is led by Professor Hysell Oviedo from the Biology department, and Professor Ching-Jung Chen from the Visual Resources Library. To see our collection of science animations visit this <a href="http://ccnydigitalscholarship.org/science-animation/">website</a> and for interactive educational resources click <a href="https://ccnydss.github.io/bioanimation/">here.</a>
      </p>
  	</div>

	<div class="bigspacer"></div>
	<div class="bigspacer"></div>
 </div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="title">
			Past members
		</div>
	</div>
</div>

<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alumni == true %}
    {% cycle 'add rows 2': '<div class="row">', '', '' %}
		<div class="col-lg-4 memberbox">
			<div class="media">
  				<!--
  				<a class="pull-left" href="{{ member.url }}">
    				<img width=160 class="media-object" src="{{ member.image }}">
  				</a>
  				-->
 			 	<div class="media-body">
    				<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows 2': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows 2': '', '</div>', '</div>' %}


